.image-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
}

.image-card img {
  height: 100%;
  max-height: 400px;
}

.img-fluid {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.image-card.normal:hover .opacity-effect,
.image-card.normal:active .opacity-effect {
  opacity: 0.6;
}

.image-card.double .opacity-effect,
.image-card.svg .opacity-effect {
  opacity: 1;
}

.image-card .image-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.86);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: clamp(1rem, 10vw, 2rem);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.image-card.normal .image-title {
  font-size: clamp(1.2rem, 3vw, 3rem);
}

.image-card.double .image-title {
  font-size: clamp(2.3rem, 3vw, 6rem);
}

.image-card.normal:hover .image-title,
.image-card.normal:active .image-title {
  opacity: 1;
}

.image-card.double .image-title {
  opacity: 1;
}
