.hero-section {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: -2;
  align-items: center;
  font-family: "Dela Gothic One", cursive;
}

.hero-video {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.hero-text {
  position: absolute;
  left: 10%;
  top: 70%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}
