.swiper-container {
  text-align: center;
}

.slide-container {
  position: relative;
}

.slide-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide-caption {
  font-family: "Oswald", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40%;
  text-align: center;
}

@media (min-width: 992px) {
  .slide-container {
    margin: 0;
    max-width: 100%;
  }
}

.action-carosello {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}
