.image-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 8px;
}

.image-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.empty-space {
  background-color: transparent;
  height: 100%;
}

.opacity-effect {
  opacity: 0.5;
}

.image-card:hover .opacity-effect,
.image-card:active .opacity-effect {
  opacity: 1;
}
