.navbar {
  background-color: #cea6a6;
  border-bottom: 1px solid grey;
}

.navbar-brand #navbar-logo {
  width: 100px;
  max-width: 100px;
  padding: 3px;
}

.nav-link {
  color: rgb(27, 0, 0) !important;
  font-weight: bolder;
}

.navbar-nav {
  flex-direction: row;
}

@media (max-width: 991px) {
  .full-width-link {
    width: 100%;
    text-align: center;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .mobile-container-padding {
    padding: 0;
  }

  .mobile-border-top {
    border-top: 1px solid white;
  }

  .mobile-border-bottom {
    border-bottom: 1px solid white;
  }

  .navbar-link-home {
    background-color: rgb(148, 94, 94);
  }

  .navbar-link-others {
    background-color: #cea6a6;
  }
}
