.navbar {
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-logo {
  width: 80px;
  max-width: 80px;
}

.navbar-logo-mobile {
  display: none;
}

.full-width-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 6px;
  padding-left: 2vw;
  padding-right: 2vw;
}
