.white-space-label {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  font-size: 40px;
  font-weight: 800;
}

.ruler {
  border-top: 3px solid antiquewhite;
  margin-top: -8px;
  margin-bottom: 2rem;
  padding: 0;
}
