@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Playfair+Display:wght@500&family=Quicksand&display=swap");

.App {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 118px;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(206, 166, 166, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(206, 166, 166, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(206, 166, 166, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cea6a6",GradientType=1);
}

.home-background {
}
